.galleryBox {
	max-width:100%;
	height:500px;
	margin-top:30px;
	margin-bottom:30px;
	padding:10px;
	background-color:#696970;
	border-bottom:2px ridge white;
	border-right:2px ridge white;
}

.galleryBox div {
	padding:0px;
	margin:auto;
}

.galleryBox a {
	width:25%;
	padding-top:50px;
}
