.galleryBox {
  max-width: 100%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 10px;
  background-color: black;
}

.galleryBox div {
  padding: 0px;
  margin: auto;
}

.galleryBox a {
  width: 25%;
  padding-top: 50px;
}
